.button_next,
.button_prev {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  z-index: 1;
}
.button_next {
  right: 0;
}

.button_prev {
  left: 0;
}

.button_parent {
  position: relative;
}
