.wrap {
  margin: 20px 0;
}

.grid_common {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.grid_detail {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 30px;
}



.toggler {
  display: flex;
  width: auto;
  justify-content: center;
}

.toggle_common {
  padding: 9px 0;
  width: 40px;
  border: 1px solid #fff;
  border-radius: 10px 0 0 10px;
  cursor: pointer;
}

.toggle_detail {
  padding: 9px 0;
  width: 40px;
  border: 1px solid #fff;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
}

.toggle_active {
  background-color: #fff;
  color: #000;
}

@media (max-width: 1100px) {
  .grid_common {
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
  }
}

@media (max-width: 800px) {
  .grid_common {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
}