.error {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: auto;
  flex-direction: column;
}

.error_img_box {
  position: relative;
  /* margin: auto; */
  pointer-events: none;
  user-select: none;
}
