.gear {
  position: fixed;
  padding: 15px;
  top: 150px;
  right: 0;
  min-width: 50px;
  min-height: 50px;
  background-color: black;
  border-radius: 8px 0 0 8px;
}

.gearIcon {
  min-width: 30px;
  min-height: 30px;
}

@media (max-width: 868px) {
  .gear {
    position: relative;
    min-width: 50px;
    min-height: 30px;
    padding: 10px;
    top: auto;
    border-radius: 8px 8px 8px 8px;
  }
  .gearIcon {
    min-width: 20px;
  }
}
