.list {
  display: flex;
  color: #fff;
  border-radius: 5px;
}

.image_wrap {
  position: relative;
  perspective: 800px;
  width: 160px;
  height: 250px;
}

.tag {
  position: relative;
  border-radius: 8px 8px 8px 8px;
  overflow: hidden;
  width: 70px;
  height: 70px;
  margin: 0 7px 7px 0;
}

.tag_name {
  position: absolute;
  bottom: 0;
  z-index: 2;
  width: 100%;
  background-color: #171717;
  opacity: 0.7;
  border-radius: 0 0 6px 6px;
  font-weight: 600;
  font-size: 12px;
  padding: 2px;
  word-break: break-all;
  text-align: center;
  line-height: 1.2;
}

.tagsWrapper {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  transition: transform 0.3s ease;
  max-height: 170px;
}

.infoWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.infoSubWrapper {
  display: flex;
}

.image {
  position: relative;
}

@media (min-width: 640px) {
  .image {
    position: absolute;
    transition-property: opacity, transform;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    opacity: 0;
    top: 0;
    left: 0;
    cursor: pointer;
  }

  .image:nth-child(1) {
    opacity: 1;
  }

  .image_wrap:hover .image {
    opacity: 1;
  }

  .image_wrap:hover .image:nth-child(1) {
    transform: rotateY(20deg) translate3D(0, 10px, -10px);
  }

  .image_wrap:hover .image:nth-child(2) {
    transform: rotateY(20deg) translate3D(45px, 0, -10px);
  }

  .image_wrap:hover .image:nth-child(3) {
    transform: rotateY(20deg) translate3D(90px, -10px, -10px);
  }

  .info {
    transition: transform 0.3s ease;
  }
}

@media (max-width: 639.9px) {
  .image_wrap {
    height: auto;
    width: 100%;
  }

  .list {
    display: grid;
    grid-template-columns: 120px calc(100% - 132px);
    grid-column-gap: 12px;
  }

  .infoWrapper {
    margin-top: 12px;
  }

  .infoSubWrapper {
    flex-direction: column;
  }

  .tagsWrapper {
    margin-top: 12px;
    grid-column: 1/3;
    margin-left: 0;
  }

  .tag {
    width: 50px;
    height: 50px;
    word-break: break-all;
  }

  .tag_name {
    font-size: 12px;
    padding: 4px;
  }

  .mobileTitle {
    grid-column: 1/3
  }

  .image:not(:first-child) {
    display: none;
  }
}