html[data-theme="light"] .head_desc,
.chakra-ui-light .head_desc {
  border-color: #E2E8F0;
}

html[data-theme="light"] .head_tags,
.chakra-ui-light .head_tags {
  border-color: #E2E8F0;
}


.head_tags {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.head_img {
  flex: 1;
  overflow: hidden;
}

.head_desc {
  padding: 0 30px;
  border: 1px solid rgba(255, 255, 255, .16);
  border-top: 0;
  border-bottom: 0;
}

@media (max-width: 1200px) {
  .head_desc {
    padding: 0 16px;
  }
}

@media (max-width: 1000px) {
  .head_desc {
    padding: 0 0 0 16px;
    border-right: 0;
  }

  .head_tags {
    grid-column: 1/3;
    padding: 16px 0 0;
    border-top: 1px solid rgba(255, 255, 255, .16);
  }
}

@media (max-width: 450px) {
  .head_desc {
    border-left: 0;
    border-top: 1px solid rgba(255, 255, 255, .16);
    padding: 16px 0 0;
  }

  .head_tags {
    grid-column: auto;
  }
}