.page {
  border-radius: 3px;
  overflow: hidden;
  flex-grow: 1;
  flex-basis: 16.6%;
  padding: 3px;
}

.content {
  padding: 20px 0;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid rgba(255, 255, 255, .16);
}

html[data-theme="light"] .head,
.chakra-ui-light .head {
  border-color: #E2E8F0;
}