.tag {
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  min-height: 280px;
}

@media (max-width: 450px) {
  .tag {
    height: 150px;
    display: flex;
    flex-direction: row-reverse;
    min-height: 150px;
  }

  .tagImage {
    width: 150px;
    min-width: 150px;
    min-height: 150px;
  }
}
